.material-icons {
    color: var(--color-primary);
    font-size: 33px !important;
    padding: var(--space-xs);
}

.btn-add {
    margin-right: -18px;
}

.navbar-link {
    margin-left: var(--space-lg);
    flex: 1;
}

.navbar-link:hover {
    color: var(--color-primary-light);
    margin-left: var(--space-lg);
}

.hero-button-left, .hero-button-right,
.hero-button-center {
    color: var(--color-primary-light);
    background-color: rgba(0, 0, 0, 0.8);
    height: var(--space-lg-2);
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: var(--space-sm);
    padding-right: var(--space-sm);
    margin-bottom: var(--space-md);
    text-transform: uppercase;
}

.hero-button-left {
    margin-left: var(--space-lg);
}

.hero-button-right {
    margin-right: var(--space-lg);
    align-self: flex-end;
}

.hero-link, .hero-link-sub, .hero-link-left, .hero-link-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.hero-link-left, .hero-link-right {
    height: 280px;
    width: 600px;
}

.hero-link {
    height: 280px;
    width: 400px;
    align-items: center;
}

#hero-audio, #hero-electrical, #hero-security,
#hero-data, #hero-phone {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
}

#hero-audio {
    background-image: url(../images/hero-audio.jpg);
}

#hero-electrical {
    background-image: url(../images/hero-components.jpg);
}

#hero-security {
    background-image: url(../images/hero-security.jpg);
}

#hero-data {
    background-image: url(../images/hero-computer.jpg);
}

#hero-phone {
    background-image: url(../images/hero-phone.jpg);
}

.img-item {
    height: 260px;
    width: 260px;
}

#item-cart-btn {
    color: var(--color-secondary) !important;
    font-size: 32px !important;
    padding: var(--space-xxxs);
}

.filter-grid button {
    color: var(--gray-9);
    background-color: var(--white);
    height: var(--space-lg-2);
    width: 200px;
    border: 1px var(--gray-6) solid;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: var(--space-sm);
    padding-right: var(--space-sm);
    margin: var(--space-xs);
    border-radius: 20px;
    text-transform: uppercase;
}

.item-hero-img {
    width: 100%; 
    display: block; 
    height: auto;
    border-radius: 15px;

}

.item-carousel-img {
    height: 80px;
    width: 80px;
    margin-bottom: var(--space-sm);
    border-radius: 10px;
}

.img-cart {
    height: 100px;
    width: 100px;
    padding: var(--space-xs);
    padding-left: var(--space-md);
}

.btn-checkout {
    background-color: var(--color-success);
    height: var(--space-lg-2);
    border-radius: 15px;
    width: 300px !important;
    margin: var(--space-sm);
    text-transform: uppercase;
    color: var(--white);
    font-size: var(--text-md);
}

.btn-checkout:hover {
    background-color: var(--color-primary-dark);
}

.btn-go-back {
    background-color: var(--white);
    height: var(--space-lg-2);
    border-radius: 15px;
    width: 220px !important;
    margin: var(--space-xs);
    text-transform: uppercase;
    color: var(--gray-9);
    text-align: center;
}

.btn-go-back:hover {
    background-color: var(--gray-1);
}

#btn-delete {
    color: var(--color-error);
    font-size: 28px !important;
    padding: var(--space-xxs);
    padding-left: var(--space-lg);
}

.quant-select {
    width: 65px;
    height: 25px;
    border-radius: 10px;
    border: 1px var(--gray-6) solid;
}

.select-label {
    padding-bottom: var(--space-xs);
}

.av-select {
    background-color: var(--white);
    width: 200px;
    height: 32px;
    border-radius: 15px;
    border: 1px var(--gray-6) solid;
    padding-left: var(--space-xs);
    margin-left: var(--space-sm);
    background-position-y: 3px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    margin-right: 1rem;
    padding-right: 1rem;
}

select::-ms-expand {
    display: none;
}

hr {
    border: 0;
    clear:both;
    display:block;
    width: 96%;               
    background-color: var(--gray-4);
    height: 1px;
}

/* css for custom checkbox modified from base code obtained from: https://codepen.io/nikkz/pen/BzVBJo */

.form-group {
    display: block;
    margin-bottom: 15px;
}

.form-group input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.form-group label {
    position: relative;
    cursor: pointer;
    color: var(--color-primary);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: var(--text-md);    
}

.form-group label:before {
    content:'';
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid var(--color-primary);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: var(--space-xs);
}

.form-group input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 9px;
    width: 6px;
    height: 14px;
    border: solid var(--color-primary);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

/* end outsourced/modified code snippet */

.contact-info {
    background-color: var(--white);
    border: 1px var(--gray-4) solid;
    height: var(--space-lg-2);
    width: 450px;
    margin: var(--space-sm);
    border-radius: var(--space-xs);
    text-align: center;
    margin-bottom: var(--space-md);
}

#post-paypal {
    position: relative;
    z-index: -1;
}

.item-description > button {
    margin-left: 0;
    margin-top: var(--space-md);
}

.add-to-cart-wrapper:hover button:first-child {
    color: black;
}

.add-to-cart-wrapper:hover {
    transform: scale(1.1);
    transition: 0.1s;
}

@media (max-width: 1204px) { /* smaller screen home page hero */
    .hero-link-left, 
    .hero-link-right {
        width: 400px;
    }
    #hero-phone {
        width: 800px;
    }

    .hero-button-left {
        margin-left: 0;
        align-self: center;
    }

    .hero-button-right {
        margin-right: 0;
        align-self: center;
    }
    .hero-link-left > a {
        margin-left: 0;
        align-self: center;
    }
}

@media (max-width: 803px) { /* smallest screen home page hero */
    #hero-phone {
        width: 95vw;
    }
    .hero-link-left, 
    .hero-link-right,
    .hero-link {
        width: 95vw;
    }

    .hero-button-left {
        margin-left: 0;
        align-self: center;
    }

    .hero-button-right {
        margin-right: 0;
        align-self: center;
    }
}

/* code based heavily off https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_radio and modified for the aesthetics of this website */

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-top: var(--space-md);
  margin-bottom: var(--space-sm);
  margin-left: var(--space-xs);
  cursor: pointer;
  font-size: var(--text-md);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: var(--color-success);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

/* end outsourced/modified code snippet */

/* following code snippet for custom form validation display sourced from here: https://codepen.io/benjaminwalsh/pen/QxXVKP */

input.invalid,
select.invalid{
    background-image:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/97555/alert-circle.svg);
  background-repeat:no-repeat;
  background-position:right .5rem top .6rem;
  background-size:1.5rem 1.5rem;
}
input + p{display:none;margin:.25rem 0 0 0;font-size:.9rem;color:}
input.invalid + p{
  display:block;
}

input.valid,
select.valid {
  background-image:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/97555/check-circle.svg);
  background-repeat: no-repeat;
  background-position: right .5rem top .6rem;
  background-size: 1.5rem 1.5rem;
}
select.valid,
select.invalid {
  background-position: right 1.25rem top .6rem;
}
.hidden{display:none}

/* end sourced code block */

.pagination {
  display: inline-block;
  margin: 0 auto;
  margin-top: -20px;
  margin-bottom: var(--space-lg);
}

.pagination a {
  color: var(--black);
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: var(--color-success);
  color: white;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: var(--gray-1);
  border-radius: 5px;
}

.fa {
  font-size: 30px !important;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: var(--space-xxxxs);
  color: var(--color-primary-dark);
}
.fa:hover {
    color: var(--color-primary);
}